<div class="min-h-screen p-4">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-normal text-[#697F84] uppercase tracking-wide">Rooms</h1>
    <app-button-primaire text="CREATE ROOMS" (click)="openCreateModal()"></app-button-primaire>
  </div>

  <div class="flex flex-wrap items-center gap-8 mb-8">
    <div class="flex items-center gap-2 px-4 py-2 bg-gray-100 border border-gray-200 rounded-lg">
      <span class="text-[#697F84] font-medium">ACTUAL: <span>{{ meterPrice }}/m²</span></span>
      <button (click)="openPriceModal()" class="ml-1 text-teal-600">
        <span class="material-symbols-outlined">border_color</span>
      </button>
    </div>
  </div>
 <div class="flex flex-wrap items-center gap-8 mb-8">
  
  <div class="flex items-center gap-2 text-[#3A626B]">
    <span class="font-normal">Completion date</span>
    <select 
      [(ngModel)]="filterOptions.ordre" 
      (change)="onFilterChange()"
      class="py-0 pr-8 text-[gray] bg-transparent border-none cursor-pointer focus:ring-0">
      <option value="desc">Newest</option>
      <option value="asc">Oldest</option>
    </select>
  </div>

  <div class="relative flex items-center gap-2 text-[#3A626B]">
    <span class="font-normal">Status</span>
    <div class="relative flex items-center">
      <select 
        [(ngModel)]="filterOptions.statut" 
        (change)="onFilterChange()"
        class="py-0 pr-8 text-[gray] bg-transparent border-none appearance-none cursor-pointer focus:ring-0">
        <option value="all">All</option>
        <option value="libre">Free</option>
        <option value="occupee">Occupied</option>
      </select>
      <span class="absolute right-0 text-sm pointer-events-none material-symbols-outlined">
        arrow_downward
      </span>
    </div>
  </div>

  <div class="flex items-center gap-2 text-[#3A626B]">
    <span class="font-normal">Min Size</span>
    <div class="relative flex items-center">
      <input 
        type="number" 
        [(ngModel)]="filterOptions.taille"
        (change)="onFilterChange()"
        placeholder="ex: 20"
        class="w-20 py-1 px-2 text-[gray] bg-transparent border-b border-gray-300 focus:border-[#E9B162] focus:outline-none transition-colors"
      >
      <span class="ml-1 text-xs">m²</span>
    </div>
  </div>

</div>
  <app-table-corps [columns]="roomColumns">
    @for (room of rooms; track room._id) {
      <tr class="transition-colors border-b border-gray-100 hover:bg-gray-50">
        <td class="px-4 py-4 font-bold text-[#697F84]">{{ room.reference }}</td>
        <td class="px-4 py-4 text-[#375E67]">{{ room.size }} m²</td>
        <td class="px-4 py-4 text-[#375E67]">{{ room.date }}</td>
        <td class="px-4 py-4">
          <span [ngClass]="{
            'text-red-500': room.status === 'Occupied',
            'text-green-500': room.status === 'Free'
          }" class="font-semibold">
            {{ room.status }}
          </span>
        </td>
        <td class="flex items-center gap-4 px-4 py-4">
          <button (click)="openEditModal()" class="text-teal-500 transition-transform hover:scale-110">
            <span class="material-symbols-outlined">edit</span>
          </button>
          <button (click)="deleteRoom(room._id)" class="text-red-500 transition-transform hover:scale-110">
            <span class="material-symbols-outlined">delete</span>
          </button>
          
          @if (room.status === 'Free') {
            <button (click)="openAssignModal(room)" class="ml-4 bg-[#4D9893] text-white px-6 py-1.5 rounded font-normal text-sm uppercase">
              Assign
            </button>
          }
        </td>
      </tr>
    }
  </app-table-corps>
</div>

<!----------------------------------------------------------------------------------------------------->

<!-- Modal component pour la création room -->
<app-modal-form 
  type="submit"
  title="CREATE ROOM" 
  buttonText="CONFIRM"
  [isOpen]="isModalOpen"
  (close)="closeCreateModal()"
  (submitForm)="addRoom()">
  
  <form (ngSubmit)="addRoom()" #RoomForm="ngForm" class="grid grid-cols-2 gap-x-8 gap-y-6">
    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-[#697F84] uppercase tracking-wider">Room Reference</label>
      <input 
        type="text" 
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-[#E9B162] transition-all"
        name="reference"
        [(ngModel)]="newRoom.reference">
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-[#697F84] uppercase tracking-wider">Size in m²</label>
      <input 
        type="number" 
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-[#E9B162] transition-all"
        name="tailleMetreCarre"
        [(ngModel)]="newRoom.tailleMetreCarre" required>
       
    </div>


  </form>

</app-modal-form>

<!-- Modal component pour la modification room -->
 <app-modal-form 
  title="UPDATE" 
  buttonText="SAVE PRICE"
  [isOpen]="isPriceModalOpen"
  (close)="closePriceModal()">
  
  <div class="flex flex-col max-w-xs gap-2">
    <label class="text-xs font-semibold text-[#697F84] uppercase tracking-wider">Price/m²</label>
    <div class="relative">
      <input 
        type="text" 
        placeholder="200 000"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-[#E9B162] transition-all"
      >
      <span class="absolute right-4 top-2 text-[#697F84]">Ar/m²</span>
    </div>
  </div>

</app-modal-form>

<!-- Modal pour la modification des lignes de la liste des room-->
<app-modal-form
  title="UPDATE ROOM" 
  buttonText="UPDATE"
  [isOpen]="isEditModalOpen"
  (close)="closeEditModal()"
>  
  <div class="grid grid-cols-2 gap-x-8 gap-y-6"> <!-- Ici j'ai spécifié oe 2 colonnes et pas plus, tu dois un peu modifier ceci raha miotra-->
    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-[#697F84] uppercase tracking-wider">Room Reference</label>
      <input 
        type="text" 
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-[#E9B162] transition-all"
      >
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-[#697F84] uppercase tracking-wider">Size in m²</label>
      <input 
        type="number" 
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-[#E9B162] transition-all"
      >
    </div>
  </div>
</app-modal-form>

<!-- Modal pour l'assignation à une nouvelle boutique -->
<app-modal-form
  title="ASSIGN WITH A NEW STORE"
  buttonText="CONFIRM"
  [isOpen]="isModalAssignOpen"
  (close)="closeAssignModal()"
  (submitForm)="createStore()"
>
  <form #f="ngForm" (ngSubmit)="createStore()" class="grid grid-cols-2 gap-x-8 gap-y-6">

    <div class="flex flex-col gap-1">
      <label class="text-[11px] font-semibold text-[#697F84] uppercase">Name Store</label>
      <input
        name="nom"
        [(ngModel)]="form.nom"
        type="text"
        required
        class="w-full px-3 py-2 border rounded-md"
      >
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-[11px] font-semibold text-[#697F84] uppercase">Category</label>
      <select
        name="categorie"
        [(ngModel)]="form.categorie"
        required
        class="w-full px-3 py-2 border rounded-md"
      >
        <option value="" disabled>Select category</option>
        @for (cat of categories; track cat._id) {
          <option [value]="cat._id">{{ cat.nom }}</option>
        }
      </select>
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-[11px] font-semibold text-[#697F84] uppercase">Address E-mail</label>
      <input
        name="email"
        [(ngModel)]="form.email"
        type="email"
        required
        class="w-full px-3 py-2 border rounded-md"
      >
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-[11px] font-semibold text-[#697F84] uppercase">Password</label>
      <input
        name="password"
        [(ngModel)]="form.password"
        type="password"
        required
        class="w-full px-3 py-2 border rounded-md"
      >
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-[11px] font-semibold text-[#697F84] uppercase">Assigned Room</label>
      <input
        type="text"
        [value]="selectedRoomName"
        readonly
        class="w-full px-3 py-2 bg-gray-100 border rounded-md"
      >
      <input
        type="hidden"
        name="salle"
        [(ngModel)]="form.salle"
      >
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-[11px] font-semibold text-[#697F84] uppercase">Phone Number</label>
      <input
        name="telephone"
        [(ngModel)]="form.telephone"
        type="number"
        class="w-full px-3 py-2 border rounded-md"
      >
    </div>

  </form>
</app-modal-form>
