<div class="relative w-56 rounded-2xl border border-[#D7B471] bg-white p-4 shadow-sm transition-all hover:shadow-md">
  
  <div *ngIf="isPromoActive" 
       class="absolute top-2 right-2 z-10 bg-[#86A38B] text-white text-[11px] font-bold px-2 py-0.5 rounded-full shadow-sm">
    -{{ promotions.pourcentage }}%
  </div>

  <div class="flex justify-center">
    <img
      [src]="image"
      [alt]="title"
      class="object-cover w-40 h-40 rounded-full"
    />
  </div>

  <div class="flex justify-center mt-2">
    <ng-container *ngIf="stock !== null; else nonStockable">
      <span [ngClass]="{
          'bg-red-100 text-red-600': stock <= 0,
          'bg-green-100 text-green-600': stock > 0
        }" 
        class="text-[10px] font-bold px-2 py-0.5 rounded uppercase tracking-wider">
        {{ stock > 0 ? stock + ' in stock' : 'Out of stock' }}
      </span>
    </ng-container>
    
    <ng-template #nonStockable>
      <span class="bg-blue-50 text-blue-500 text-[10px] font-bold px-2 py-0.5 rounded uppercase tracking-wider">
        Available
      </span>
    </ng-template>
  </div>
  
  <p class="mt-4 text-center text-sm font-semibold text-[#5F6566]">
    {{ title }}
  </p>

  <div class="flex items-center justify-between mt-3">
    <div class="flex flex-col">
      <span 
        [ngClass]="{
          'text-[11px] text-[#D9B570] line-through opacity-70': isPromoActive, 
          'text-sm font-medium text-[#3A626B]': !isPromoActive
        }">
        Ar {{ price | number:'1.0-0' }}
      </span>

      <span *ngIf="isPromoActive" class="text-sm font-bold text-[#3A626B]">
        Ar {{ discountedPrice | number:'1.0-0' }}
      </span>
    </div>

    <span 
      (click)="(stock === null || stock > 0) ? onAddToCart() : null" 
      [ngClass]="{
        'opacity-30 cursor-not-allowed': stock !== null && stock <= 0,
        'text-[#EBAD5A] hover:text-[#3A626B]': stock === null || stock > 0
      }"
      class="transition-colors cursor-pointer material-symbols-outlined">
      {{ (stock === null || stock > 0) ? 'shopping_cart' : 'block' }}
    </span>
  </div>
</div>