<div *ngIf="isOpen" 
     class="fixed inset-0 z-50 flex items-center justify-center bg-slate-900/50 backdrop-blur-sm"
     (click)="closeModal()">
  
  <div class="relative bg-white rounded-2xl shadow-2xl w-full max-w-[700px] p-8 m-4" 
       (click)="$event.stopPropagation()">
    
    <button (click)="closeModal()" class="absolute text-gray-400 top-4 right-4 hover:text-gray-600">
      <span class="text-3xl material-symbols-outlined">close</span>
    </button>

    <h2 class="mb-6 text-2xl font-normal tracking-wide uppercase text-[#385F68]">{{ title }}</h2>

    <div class="mb-8">
      <ng-content></ng-content>
    </div>

    <div class="flex justify-end">
      <app-button-primaire (click)="confirm()" [text]="buttonText"></app-button-primaire>
    </div>
  </div>
</div>

