<aside class="top-0 left-0 flex flex-col justify-between w-64 h-screen bg-white border-r border-gray-100">
  <div>
    <div class="flex items-center gap-3 p-6">
      <div class="flex items-center justify-center w-10 h-10 overflow-hidden rounded-full">
         <img [src]="boutiqueService.currentBoutique()?.logo || '/image.png'" 
               [alt]="boutiqueService.currentBoutique()?.nom" 
               class="object-contain w-full h-full">
      </div>
      <h1 class="font-bold text-[#425466] text-[13px] tracking-wide">
        {{ boutiqueService.currentBoutique()?.nom || 'Loading...' }}
      </h1>
    </div>

    <nav class="px-4 mt-4 space-y-2">
        <a routerLink="/layout-boutique/dashboard" 
          routerLinkActive="bg-gray-50" 
          #rlaDashboard="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaDashboard.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">analytics</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaDashboard.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Analytics</span>
            @if (rlaDashboard.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>
        
        <a routerLink="/layout-boutique/products" 
          routerLinkActive="bg-gray-50" 
          #rlaProducts="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaProducts.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">inventory_2</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaProducts.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Products</span>
            @if (rlaProducts.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>

        <a routerLink="/layout-boutique/rent" 
          routerLinkActive="bg-gray-50" 
          #rlaRent="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaRent.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">sell</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaRent.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Rent</span>
            @if (rlaRent.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>

        <a routerLink="/layout-boutique/stock" 
          routerLinkActive="bg-gray-50" 
          #rlaStock="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaStock.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">inventory</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaStock.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Stock</span>
            @if (rlaStock.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>

        <a routerLink="/layout-boutique/event" 
          routerLinkActive="bg-gray-50" 
          #rlaEventB="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaEventB.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">calendar_today</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaEventB.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Event</span>
            @if (rlaEventB.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>
        
        <a routerLink="/layout-boutique/sales" 
          routerLinkActive="bg-gray-50" 
          #rlaSales="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaSales.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">account_balance_wallet</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaSales.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Sales</span>
            @if (rlaSales.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>

        <a routerLink="/layout-boutique/charges" 
          routerLinkActive="bg-gray-50" 
          #rlaCharges="routerLinkActive"
          class="relative flex items-center gap-4 px-4 py-3 transition-all rounded-xl group">
            <span class="material-symbols-outlined text-[24px]" 
                  [ngClass]="rlaCharges.isActive ? 'text-[#3A626B]' : 'text-[#697F84]'">credit_card</span>
            <span class="text-[15px] font-medium" 
                  [ngClass]="rlaCharges.isActive ? 'text-[#3A626B]' : 'text-[#3A626B] group-hover:text-[#EBAD5A]'">Charges</span>
            @if (rlaCharges.isActive) {
              <div class="absolute bottom-0 left-4 right-8 h-[3px] bg-[#EBAD5A] rounded-full"></div>
            }
        </a>
    </nav>

  </div>

  <div class="p-4 bg-[#e9ecef]/50 border-t border-gray-100">
    <p class="text-[12px] text-gray-500 font-medium px-2">
      Miantsa - Isaia
    </p>
  </div>
</aside>