<!-- Header -->
<app-header headerType="header1" (categorySelected)="filterStores($event)" (searchChanged)="applyFilter($event)"></app-header>

<main class="min-h-screen pt-[72px]">
  
  <section id="home" class="relative h-[620px] w-full overflow-hidden bg-gray-900">
    <div class="absolute inset-0 transition-opacity duration-1000">
      <img [src]="slides[currentSlide()].img" class="object-cover w-full h-full opacity-60" [alt]="slides[currentSlide()].title">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white">
        <h1 class="mb-2 font-black tracking-tighter uppercase text-7xl">
          {{ slides[currentSlide()].title }}
        </h1>
        <p class="max-w-xl text-lg font-light leading-tight">
          {{ slides[currentSlide()].description }}
        </p>
      </div>
    </div>

    <div class="absolute flex gap-3 -translate-x-1/2 bottom-6 left-1/2">
      <div *ngFor="let slide of slides; let i = index" 
          [class]="i === currentSlide() ? 'bg-[#EBAD5A]' : 'bg-white opacity-50'"
          class="w-3 h-3 transition-all duration-300 rounded-full">
      </div>
    </div>
  </section>

  <div id="events-section">
    <app-section-divider title="EVENTS"></app-section-divider>
  </div>

  <div class="relative flex items-center px-8 mx-auto max-w-7xl group">
    <button 
      *ngIf="canScrollLeftEvents"
      (click)="scrollEvents('left', eventContainer)"
      class="absolute left-0 z-20 bg-[#EBAD5A] p-2 rounded-full shadow-lg hover:bg-[#d49a4d] transition-all transform translate-x-4">
      <span class="flex items-center justify-center text-white material-symbols-outlined">chevron_left</span>
    </button>
    
    <div 
      #eventContainer
      (scroll)="checkScrollEvents()"
      class="flex w-full gap-6 py-4 overflow-x-auto events-container scroll-smooth snap-x snap-mandatory scrollbar-hide">
      
      <div 
        *ngFor="let ev of events()" 
        class="flex-none w-full md:w-[calc((100%-3rem)/3)] snap-start">
        <app-event-card
          [icon]="ev.boutique ? 'campaign' : 'calendar_month'"
          [title]="ev.reference"
          [text]="ev.description"
          [dateStart]="ev.dateDebut "
          [dateEnd]="ev.dateFin"
          [owner]="ev.boutique ? ev.boutique.nom : 'Center'"
        />
      </div>

      <div *ngIf="events().length === 0" class="w-full py-10 italic text-center text-gray-400">
        No upcoming events at the moment.
      </div>
    </div>

    <button 
      *ngIf="canScrollRightEvents && events().length > 3"
      (click)="scrollEvents('right', eventContainer)"
      class="absolute right-0 z-20 bg-[#EBAD5A] p-2 rounded-full shadow-lg hover:bg-[#d49a4d] transition-all transform -translate-x-4">
      <span class="flex items-center justify-center text-white material-symbols-outlined">chevron_right</span>
    </button>
  </div>
  
  <div id="about-section">
    <app-section-divider title="ABOUT US"></app-section-divider>
  </div>

  <div *ngIf="centreInfo" class="flex flex-col items-center gap-12 px-8 mx-auto max-w-7xl md:flex-row">
    <div class="flex justify-center w-full lg:w-1/2">
      <img [src]="centreInfo.logo" 
           class="rounded-2xl shadow-2xl w-full max-w-[500px] h-[250px] md:h-[400px] lg:h-[450px] object-cover" 
           [alt]="centreInfo.nom">
    </div>
    <div class="space-y-6 md:w-1/2">
      <h2 class="text-3xl font-bold text-[#355F68] leading-tight">{{ centreInfo.nom }}</h2>
      <p class="text-base font-light leading-relaxed text-[#355F68]">
        {{ centreInfo.description }}
      </p>
      <p class="text-base font-light leading-relaxed text-[#355F68]">
        <a class="text-[#D7B471] font-bold cursor-pointer hover:underline">View more...</a>
      </p>
    </div>
  </div>
  
  <div *ngIf="centreInfo" class="grid grid-cols-1 gap-10 px-8 mx-auto mt-16 mb-20 max-w-7xl md:grid-cols-3">  
    <div class="relative group">
      <app-about-card
        icon="browse_gallery"
        [description]="'Open Today: ' + todaySchedule" 
      />
      
      <div class="absolute left-0 right-0 z-20 invisible p-4 mt-2 transition-all duration-300 bg-white border opacity-0 rounded-xl border-[#D7B471] shadow-xl group-hover:visible group-hover:opacity-100 group-hover:translate-y-1">
        <h4 class="mb-3 text-xs font-bold tracking-widest text-[#3A626B] uppercase border-b pb-2">Weekly Opening Hours</h4>
        <div class="space-y-2">
          <div *ngFor="let h of allSchedules" class="flex justify-between text-[11px] font-medium">
            <span class="text-[#5F6566]">{{ h.jour }}</span>
            <span class="text-[#3A626B]">{{ h.ouverture }} - {{ h.fermeture }}</span>
          </div>
        </div>
      </div>
    </div>

    <app-about-card
      icon="local_parking"
      [description]="'Parking: ' + centreInfo.placeParking + ' places'"
    />

    <app-about-card
      icon="location_on"
      [description]="centreInfo.adresse"
    />
  </div>

  <div id="stores-section">
    <app-section-divider title=" OUR STORES"></app-section-divider>
  </div>

  <div class="relative flex items-center px-4 mx-auto mb-24 max-w-7xl group">
    <button 
      *ngIf="canScrollLeft"
      (click)="scroll('left', storeContainer)"
      class="absolute left-4 z-30 bg-[#EBAD5A] p-2 rounded-full shadow-lg hover:bg-[#d49a4d] transition-all transform -translate-x-1/2 md:left-2">
      <span class="flex items-center justify-center text-white material-symbols-outlined">chevron_left</span>
    </button>
    
    <div 
      #storeContainer
      (scroll)="checkScroll(storeContainer)"
      class="flex w-full gap-4 px-4 py-8 overflow-x-auto md:gap-8 scroll-smooth snap-x snap-mandatory no-scrollbar scrollbar-hide">
      
      <div 
        *ngFor="let store of stores()" 
        class="flex-none w-[85%] sm:w-[45%] lg:w-[30%] snap-center md:snap-start">
        <a [routerLink]="['/store', store._id]" class="block transition-transform duration-300 cursor-pointer hover:scale-105">
          <app-store-card
            [image]="store.logo ? (apiUrl + store.logo) : '/image.png'"
            [description]="store.nom"
            class="shadow-sm">
          </app-store-card>
        </a>
      </div>

      <div *ngIf="stores().length === 0" class="w-full py-10 text-center text-gray-400">
        No stores found.
      </div>
    </div>

    <button 
      *ngIf="canScrollRight && stores().length > 1"
      (click)="scroll('right', storeContainer)"
      class="absolute right-4 z-30 bg-[#EBAD5A] p-2 rounded-full shadow-lg hover:bg-[#d49a4d] transition-all transform translate-x-1/2 md:right-2">
      <span class="flex items-center justify-center text-white material-symbols-outlined">chevron_right</span>
    </button>
  </div>
</main>

<!-- Publicité -->
<app-floating-ad>
  
</app-floating-ad>
<!-- Footer -->
<div id="contact-section">
  <app-footer
    footerType="footer1"
    [footerData]="footerData">
  </app-footer>
</div>