<div class="min-h-screen p-4 bg-white">
    <div class="flex items-center justify-between mb-8">
        <h1 class="text-xl font-normal text-[#3A626B] tracking-tight">LIST OF PRODUCTS</h1>
        <div class="flex items-center gap-4">
            <div class="relative">
                <input type="text" 
                       [(ngModel)]="searchTerm"
                       placeholder="Search product" 
                       class="px-4 py-2 bg-[#F1F4F5] border-none rounded-lg text-sm w-64 outline-none text-gray-600">
            </div>
            <app-button-primaire text="ADD NEW PRODUCT" (click)="openAddModal()"></app-button-primaire>
        </div>
    </div>

    <div class="flex items-center gap-6 mb-8">
    
        <div class="relative inline-block group">
            <div class="flex items-center gap-2 cursor-pointer">
                <span class="text-[#3A626B] font-normal">
                    Category: {{ selectedCategory === 'all' ? 'All' : 'Filtered' }} ({{categories.length}})
                </span>
                <span class="material-symbols-outlined text-[#3A626B] transition-transform group-hover:rotate-180">expand_more</span>
            </div>
            
            <div class="absolute z-10 hidden w-48 py-2 mt-1 bg-white border border-gray-100 rounded-lg shadow-xl group-hover:block">
                <a (click)="selectedCategory = 'all'" 
                class="block px-4 py-2 text-sm font-bold text-gray-600 border-b cursor-pointer hover:bg-gray-50 border-gray-50">
                    All Categories
                </a>

                <a *ngFor="let cat of categories" 
                (click)="selectedCategory = cat._id"
                class="block px-4 py-2 text-sm text-gray-600 cursor-pointer hover:bg-gray-50"
                [ngClass]="{'bg-gray-100 text-[#3A626B]': selectedCategory === cat._id}">
                    {{ cat.nom }}
                </a>
            </div>
        </div>

        <button (click)="showOnlyPromos = !showOnlyPromos"
                [ngClass]="showOnlyPromos ? 'bg-[#3A626B] text-white' : 'bg-white text-[#3A626B] border border-[#3A626B]'"
                class="flex items-center gap-2 px-4 py-1 text-sm transition-all rounded-lg">
            <span class="material-symbols-outlined text-[18px]">sell</span>
            {{ showOnlyPromos ? 'SHOW ALL' : 'PROMOTIONS ONLY' }}
        </button>

    </div>
    
    <app-table-corps [columns]="productColumns">
        @for (product of filteredProducts; track product._id) {
            <tr class="transition-colors border-b border-gray-100 hover:bg-gray-50/50">
                <td class="px-4 py-4">
                    <div class="flex items-center gap-2">
                        <span class="text-[#375E67] font-medium">{{ product.nom }}</span>
                        
                        <span *ngIf="product.isPromoActive" 
                            class="bg-orange-100 text-orange-600 text-[10px] font-bold px-2 py-0.5 rounded-full border border-orange-200 uppercase tracking-wider">
                            -{{ product.promotions?.pourcentage }}%
                        </span>
                    </div>
                </td>
                
                <td class="px-4 py-4 text-[#375E67]">{{ product.prix }}</td>
                
                <td class="px-4 py-4">
                    <span [ngClass]="{
                        'text-gray-400': product.stock === 'Not storable',
                        'text-gray-400 font-bold': product.stock === 'Out of stock',
                        'text-[#375E67] font-semibold': product.stock !== 'Not storable' && product.stock !== 'Out of stock'
                    }">
                        {{ product.stock }}
                    </span>
                </td>

                <td class="px-4 py-4">
                    <div class="flex items-center gap-3">
                        <button (click)="openModalPromoteOpen(product)" 
                                [ngClass]="product.isPromoActive ? 'bg-orange-400' : 'bg-[#7FAE7D]'"
                                class="px-4 py-1.5 text-white text-[12px] rounded-md hover:opacity-80 transition-all font-normal min-w-[100px]">
                            {{ product.isPromoActive ? 'On promotion' : 'Promote' }}
                        </button>

                        <button  (click)="openSponsorModal(product)" [disabled]="isSponsorActive(product)" class="px-4 py-1.5 bg-[#CDD486] text-white text-[12px] rounded-md hover:opacity-80 transition-all font-normal">
                             {{ isSponsorActive(product) ? 'Is Sponsored' : 'Sponsor' }}

                        </button>
                        <button (click)="openEditModal(product)" class="px-4 py-1.5 bg-[#95AAD3] text-white text-[12px] rounded-md hover:opacity-80 transition-all font-normal">Edit</button>
                        
                        <button (click)="deleteProduct(product._id)" 
                                class="p-1.5 text-red-400 hover:text-red-600 transition-transform hover:scale-110">
                            <span class="material-symbols-outlined text-[22px]">delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        } @empty {
            <tr>
                <td [attr.colspan]="productColumns.length" class="py-10 text-center text-gray-400">
                    {{ searchTerm ? 'No products match your search.' : 'No products found for this store.' }}
                </td>
            </tr>
        }
    </app-table-corps>
</div>

<!-- Modal pour ajouter un produit dans la boutique -->
<app-modal-form
    title="CREATE A NEW PRODUCT"
    buttonText="CONFIRM"
    [isOpen]="isModalAddOpen"
    (close)="closeAddModal()"
    (submitForm)="onCreateProduct()"
>
    <div class="grid grid-cols-2 gap-x-8 gap-y-6">
        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Name</label>
            <input type="text" [(ngModel)]="newProduct.nom"
                class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] transition-colors">
        </div>

        <div class="flex flex-col col-span-2 gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Product Photo</label>
            <div class="relative group">
                <input type="text" readonly [value]="selectedFileName || 'No file chosen'"
                    (click)="fileInput.click()"
                    class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] bg-white cursor-pointer transition-colors text-sm text-gray-500">
                
                <span class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 text-[#3A626B] pointer-events-none">
                    attach_file
                </span>
                
                <input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" accept="image/*" />
            </div>
        </div>
        
        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Unit Price</label>
            <input type="number" [(ngModel)]="newProduct.prix"
                class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] transition-colors">
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Stock</label>
            <input type="number" [(ngModel)]="newProduct.stock"
                class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] transition-colors">
        </div>
    </div>

    <div class="grid grid-cols-2 mt-6 gap-x-8">
        <div class="flex flex-col gap-2 pr-4">
            <label class="text-[13px] font-medium text-[#697F84]">Categorie</label>
            <div class="relative">
                <select [(ngModel)]="newProduct.categorie" (change)="onCategoryChange()"
                        class="w-full appearance-none px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] bg-white transition-colors cursor-pointer">
                    <option value="" disabled>Select category</option>
                    @for (cat of allCategories; track cat._id) {
                        <option [value]="cat._id">{{ cat.nom }}</option>
                    }
                    <option value="OTHER" class="font-bold text-[#3A626B]">+ Other (Create new)</option>
                </select>
                <span class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 text-[#3A626B] pointer-events-none">
                    expand_more
                </span>
            </div>
        </div>

        @if (isNewCategorie) {
            <div class="flex flex-col gap-2">
                <label class="text-[13px] font-medium text-[#3A626B]">New Category Name</label>
                <input type="text" [(ngModel)]="newCategoryName"
                    placeholder="Enter new category"
                    class="w-full px-4 py-2.5 border border-[#3A626B] bg-[#F1F4F5] rounded-lg outline-none">
            </div>
        }
    </div>
</app-modal-form>

<!-- Modal pour edit un produit dans la boutique -->
<app-modal-form
    title="EDIT PRODUCT"
    buttonText="CONFIRM"
    [isOpen]="isModalEditOpen"
    (close)="closeEditModal()"
    (submitForm)="onUpdatePrice()"
>
    <div class="space-y-4">
        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Product Name</label>
            <input type="text" 
                   [(ngModel)]="newName"
                   name="productName"
                   placeholder="Enter product name"
                   class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] transition-colors">
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Unit Price (Ar)</label>
            <input type="number" 
                   [(ngModel)]="newPrice"
                   name="prix"
                   class="w-1/2 px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] transition-colors">
        </div>
    </div>
</app-modal-form>

<!-- Modal pour promote un produit -->
<app-modal-form
    [title]="selectedProduct?.promotions?.pourcentage > 0 ? 'PROMOTION DETAILS' : 'MAKE A NEW PROMOTION'"
    [buttonText]="selectedProduct?.promotions?.pourcentage > 0 ? 'UPDATE CHANGES' : 'CONFIRM'"
    [isOpen]="isModalPromoteOpen"
    (close)="closeModalPromoteOpen()"
    (submitForm)="onConfirmPromo()"
>
    <div class="grid grid-cols-2 py-2 gap-x-8 gap-y-6">
        <div class="flex flex-col col-span-2 gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Product name</label>
            <input readonly type="text" [value]="selectedProduct?.nom"
                class="w-full px-4 py-2.5 bg-gray-50 border border-gray-200 rounded-lg text-gray-500 outline-none">
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Initial Price</label>
            <div class="px-4 py-2.5 bg-gray-50 border border-gray-200 rounded-lg text-gray-500 text-sm">
                {{ selectedProduct?.prix }}
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Price after discount</label>
            <div class="px-4 py-2.5 bg-[#F1F4F5] border border-[#7FAE7D] rounded-lg text-[#3A626B] font-bold text-sm">
                Ar {{ discountedPrice.toLocaleString() }}
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Reduction (%)</label>
            <input type="number" [(ngModel)]="promoData.pourcentage" name="pourcentage"
                class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B] transition-colors">
        </div>
        
        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Start date</label>
            <input type="date" [(ngModel)]="promoData.dateDebut" name="dateDebut"
                class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B]">
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">End date</label>
            <input type="date" [(ngModel)]="promoData.dateFin" name="dateFin"
                class="w-full px-4 py-2.5 border border-gray-300 rounded-lg outline-none focus:border-[#3A626B]">
        </div>

        <div class="flex justify-start col-span-2 mt-2" *ngIf="selectedProduct?.promotions?.pourcentage > 0">
            <button type="button" (click)="onCancelPromo()"
                class="flex items-center gap-1 text-sm font-medium text-red-500 hover:underline">
                <span class="text-sm material-symbols-outlined">delete_forever</span>
                Cancel promotion
            </button>
        </div>
    </div>
</app-modal-form>


<!-- Modal pour entrer sponsordata d'un produit dans la boutique -->
<app-modal-form
    title=" PRODUCT SPRONSORING"
    buttonText="CONFIRM"
    [isOpen]="isSponsorModalOpen"
    (close)="closeSponsorModal()"
    (submitForm)=" goToInvoiceModal()"
    [disable]="!isFormValid()"
>
    <div class="grid grid-cols-2 mt-6 gap-x-8">
        <div class="flex flex-col gap-2">
            <label class="text-[13px] font-medium text-[#697F84]">Start Date</label>
            <input type="date"
                    readonly 
                  [(ngModel)]="sponsorData.dateDebut" 
                   class="w-full px-4 py-2.5 bg-gray-100 border border-gray-200 rounded-lg text-gray-500 cursor-not-allowed outline-none">
        </div>

         <div class="flex flex-col gap-1">
            <label class="text-[13px] font-medium text-[#697F84]">End Date</label>
            <input type="date" 
                   [(ngModel)]="sponsorData.dateFin" 
                   class="w-full px-4 py-2.5 bg-gray-100 border border-gray-200 rounded-lg text-gray-500 cursor-not-allowed outline-none">
        </div>
    </div>
</app-modal-form>




