<div class="relative flex flex-col w-64 h-64 p-6 bg-white shadow-md mt-11 rounded-3xl">
    
    <div class="flex flex-col items-center justify-start w-full mt-2">
        <div 
            class="flex items-center justify-center w-full h-32 cursor-pointer"
            (click)="goToProducts()"
        >
            <img *ngIf="logo" [src]="logo" [alt]="name" 
                 class="object-contain max-w-full max-h-full mx-auto" />
        </div>
        
        <h3 class="mt-2 text-sm font-bold text-[#1A4A54] uppercase tracking-wider text-center leading-tight">
            {{ name }}
        </h3>
    </div>

    <div class="absolute flex items-end justify-between bottom-6 left-6 right-6">
        <span class="text-[15px] font-bold text-[#1A4A54] truncate mr-2">
            {{ salle_ref || '—' }} - {{ metre_carre || 0 }} m²
        </span>
        
        <div class="flex items-center gap-2">
            <button (click)="openEditModal()" class="flex items-center justify-center text-[#4D9893] hover:scale-110 transition-transform">
                <span class="text-xl material-symbols-outlined">edit_square</span>
            </button>

            <button (click)="deleteOneBoutique()" class="flex items-center justify-center text-[#FC0005] hover:scale-110 transition-transform">
                <span class="text-xl material-symbols-outlined">delete</span>
            </button>
        </div>
    </div>
</div>

<!-- Modal d'édition -->
 <app-modal-form
  title="UPDATE STORE" 
  buttonText="UPDATE"
  [isOpen]="isModalEditOpen"
  (close)="closeEditModal()"
  (submitForm)="updateBoutiqueSalle()"
>  
  <div class="grid grid-cols-2 gap-x-8 gap-y-6"> <!-- Ici j'ai spécifié oe 2 colonnes et pas plus, tu dois un peu modifier ceci raha miotra-->
    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-[#697F84] uppercase tracking-wider">Room Reference</label>
      <select [(ngModel)]="selectedSalleId" class="w-full px-4 py-2 border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-[#E9B162]">
        <option *ngFor="let room of salles" [value]="room._id">{{ room.reference }}</option>
      </select>
    </div>
  </div>
</app-modal-form>